html {
    background: linear-gradient(to bottom right, gray, darkcyan);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: clamp(56px, 8vw, 104px);
}

.hidden {
  display: none !important;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px;
}

#playerName {
  font-size: clamp(16px, 4vw, 24px);
}

.btn {
  display: inline-block;
  width: fit-content;
  margin: 12px;
  border-radius: 8px;
  font-size: clamp(24px, 4vw, 32px);
  font-variant: small-caps;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 0.5em;
  gap: 0.5em;
  background-color: skyblue;
  justify-items: safe center;
}

.box {
  color: white;
  min-width: 60px;
  min-height: 60px;
  align-content: center;

}

.box[data-occupied="false"] {
  background: midnightblue;
}

.box[data-occupied="true"] {
  background: gray;
}

#directionStatus {
  margin: 0 auto;
}

#promptContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shipContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid midnightblue;
  padding: 16px;
  min-width: 720px;
  min-height: 48px;
  justify-content: space-around;
}

.shipPrompt {
  align-items: center;
  margin: 8px;
  height: 60px;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
}

.shipPrompt[data-placed="true"] {
    margin: 4px;
}

.shipImage {
    width: 100%;
    height: inherit;
    object-fit: fill;
}

#carrier.shipImage {
    content: url('./assets/carrier.png');
}

#battleship.shipImage {
    content: url('./assets/battleship.png');
}

#cruiser.shipImage {
    content: url('./assets/cruiser.png');
}

#patrolBoat.shipImage {
    content: url('./assets/patrolboat.png');
}

#submarine.shipImage {
    content: url('./assets/submarine.png');
}

.drag-over {
  border: dashed 2px red !important;
}

.label input {
  display: none;
}

.label {
  display: inline-block;
  position: relative;
  min-height: 32px;
  min-width: 168px;
  margin: 8px;
}

.slider {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  min-width: 180px;
  cursor: pointer;
  padding: 4px;
  text-align: center;
  transition: all 0.4s ease;
  border-radius: 16px;
  background-color: skyblue;
  color: midnightblue;
  font-size: large;
  font-variant: small-caps;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.slider:before {
  position: absolute;
  height: calc(100% - 8px);
  width: calc(100% - 80px);
  bottom: 4px;
  left: 4px;
  background-color: whitesmoke;
  transition: all 0.4s ease;
  border-radius: 16px;
  content: attr(unchecked);
}

input:checked + .slider {
  background-color: midnightblue;
}

input:checked + .slider:before {
  transform: translateX(72px);
  content: attr(checked);
}
